.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.game__field {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  padding: 1px 0 0 1px;
}

.reset {
  cursor: pointer;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid gray;
  padding: 4px 12px;
  border-radius: 4px;
}

@media screen and (max-width: 560px) {
  .game {
    width: 100%;
  }
}