.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px

}

.statsList {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.gameInfo {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.actions {
  display: flex;
  gap: 10px
}

.win {
  color: green;
}

.lose {
  color: red;
}