.header {
  position: fixed;
  width: 100%;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 10px;
  background-color: #F0F0F0;
}

.mainMenu {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: 700;
}

.menu ul {
  gap: 10px;
  display: flex;

  a {
    padding: 10px;

    &.active {
      background-color: #007BFF;
      color: white;
    }
  }

  a:hover {
    background-color: #007BFF;
    color: white;
  }
}

.burgerMenu {
  display: none;
  width: 100%;
  font-size: 20px;

  ul {
    display: flex;
    flex-direction: column;

    li {
      text-align: center;
      width: 100%;
    }

    li a {
      padding: 20px 0px;
    }
  }
}

.burgerButton {
  display: none;
  cursor: pointer;
  
  img {
    height: 40px;
  }
}

@media screen and (max-width: 560px) {
  .menu {
    display: none;
  }

  .burgerMenu {
    display: block;
  }

  .burgerButton {
    display: block;
  }
}