.gameWrapper {
  width: 500px;
  margin: 0 auto;
}

.gameSettings {
  .range {
    display: flex;
    gap: 10px;
  }
}

.controls {
  margin-top: 10px;


  &__move {
    display: flex;
    gap: 10px;
    button {
      width: 100%;
    }
  }

  &__settings {
    margin-top: 10px;
  }
}

.gameEnd {
  h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 560px) {
  .gameWrapper {
    width: 100%;
  }
}