body {
  font-size: 16px;
  font-family: 'Roboto';
  min-height: 100vh;
  overflow: hidden;
}

a {
  color: inherit; /* Цвет ссылок становится таким же, как цвет родительского элемента */
  text-decoration: none; /* Убираем подчёркивание */
  background-color: transparent; /* Фон прозрачный, чтобы не выделяться */
  cursor: pointer; /* Оставляем указатель, чтобы было понятно, что ссылка кликабельна */
  display: block;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
